# Introduction to Python in Data Science - Series 2#
##Trainer / Creator - Arpendu Ganguly

## Python |  String Methods

#### capitalize():Converts the first character to upper case

In [10]:
txt = "hello, Welcome to data Science."

In [11]:
txt

'hello, Welcome to data Science.'

In [3]:
new_text = print(txt.capitalize())

Hello, welcome to data science.

#### Capitalize the n th character in a string

In [6]:
def capital_nth(s, n):
    return s[:n].lower() + s[n:].capitalize()

In [9]:
capital_nth(txt, 2)

'heLlo, welcome to data science.'

#### casefold():Converts string into lower case

In [12]:
new_text1 = print(txt.casefold())

hello, welcome to data science.

#### center():	Returns a centered string

In [14]:
txt = "DataScience"
txt

'DataScience'

In [19]:
print(txt.center(100))#Print the word "DataScience", taking up the space of 20 characters, with "DataScience" in the middle

                                            DataScience

In [ ]:
print(txt)

#### count():Returns the number of times a specified value occurs in a string

In [22]:
txt_1= "I love Data Science. Data Science is my favorite subject. Data Science has a lot of scope."

x = txt_1.count("Data Science")

print(x)

3

#### find():Searches the string for a specified value and returns the position of where it was found

In [24]:
txt = "Hello,welcometoDataScience.Datascienceisbestsubject"


x = txt.find("Hello")

print(x)

0

#### join(): Joins the elements of an iterable to the end of the string

In [29]:
mylist = ["Data", "Science","is","my","favorite","subject"]

txt = " "
x = txt.join(mylist)

print(x)

Data Science is my favorite subject

In [30]:
myTuple_1 = "Data " + "Science " +"is " + "my " + "subject"

In [31]:
print(myTuple_1)

Data Science is my subject

#### replace(): Returns a string where a specified value is replaced with a specified value

In [32]:
txt = "I like R"

x = txt.replace("R", "Python")

print(x)

I like Python

#### Split(): Splits the string at the specified separator, and returns a list

In [33]:
txt = "welcome@to@the@Data@Science"

x = txt.split("@")

print(x)

['welcome', 'to', 'the', 'Data', 'Science']

In [34]:
type(x)

list

#### strip():Returns a trimmed version of the string

In [35]:
txt = "     Data Science     "

x = txt.strip()

print(x)

Data Science

In [36]:
print(txt)

     Data Science

#### String[start:end:step]

In [44]:
myword = "DataScience"
print(myword[0:4:1])#[start:end:no. of steps]-->excludes the end

Data

In [39]:
a=[1,2,3,'d']     
print(a[0:3:1])

[1]

#### lower():Converts a string into lower case

In [45]:
txt = "DATA SCIENCE"

x = txt.lower()

print(x)

data science

#### upper():Converts a string into upper case

In [46]:
txt = "data science"

x = txt.upper()

print(x)

DATA SCIENCE

In [48]:
One_letter = txt[1]
One_letter

'a'

In [49]:
One_letter = One_letter.upper()
print(One_letter)

A

#### title():Converts a string into Proper case

In [47]:
txt = "data science"

x = txt.title()

print(x)

Data Science

#### +: Concatenates Strings

In [52]:
txt1 = "Data"
txt2 = "Science"

In [53]:

x = txt1 + "-" + txt2

print(x)

Data-Science