# Introduction to Python in Data Science - Series 1#
##Trainer / Creator - Arpendu Ganguly

## Python |  As a calculator

###### Addition | subtraction | Multiplication | division |  modulo | exponentiation

In [1]:
print(1000000 + 100257788888830)

100257789888830

In [ ]:
print(1000000 + 10)

In [27]:
print(1000+1000)

2000

In [2]:
print(50000000000000000000000000000000000000000000000000000000000000 - 5)#Addition

49999999999999999999999999999999999999999999999999999999999995

In [3]:
print(334555 * 54444334353462656665555555555555553355355)#Multiplication

18214624279622699100744938888888888152800792025

In [4]:
print(10 / 2)#Division

5.0

In [5]:
print(18 % 7)#Modulus

4

In [6]:
print(3**3)#Power

27

## Python | Variable Types

Int, or integer: a number without a fractional part.

In [1]:
savings = 100

float, or floating point: a number that has both an integer and fractional part, separated by a point

In [2]:
growth_multiplier = 1.1

In [3]:
result = savings*growth_multiplier**7

In [4]:
print(result)

194.87171000000012

str, or string: a type to represent text. You can use single or double quotes to build a string.

In [5]:
desc="compound interest"

bool, or boolean: a type to represent logical values. Can only be True or False

In [6]:
profitable = True

### Python | Finding the Variable Type

In [7]:
type(savings)

int

In [61]:
#print(5+5)

10

In [8]:
type(growth_multiplier)

float

In [9]:
type(desc)

str

In [10]:
type(profitable)

bool

## Python | Tuples and Lists

Tuples are an immutable data structure (cannot be altered).

In [42]:
x = (2, 'a', 2, 'b',2.1,True)
type(x)

tuple

In [43]:
x[0]

2

In [15]:
x[-2]

2.1

In [16]:
y = (1, 'a', 2, 'b')
y[3] = "orange" # This will raise an error
print(y)

TypeError: 'tuple' object does not support item assignment

Lists are a mutable data structure.

In [17]:
x = [1, 'a', 2, 'b']
type(x)

list

In [18]:
x = [1, 'a', 2, 'b']
x[0] = 10 # This will not raise an error
print(x)

[10, 'a', 2, 'b']

## Python |  Working with Lists

As opposed to int, bool etc., a list is a compound data type; you can group values together:

In [20]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [21]:
# Create list areas
areas = [hall,kit,liv,bed,bath]

In [22]:
# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

### List within Lists

In [38]:
# area variables (in square meters)
hall = 20.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [39]:
# house information as list of lists
house_tuple = (("hallway", hall),
         ("kitchen", kit),
         ("living room", liv),
         ("bedroom", bed),
         ("bathroom",bath))

In [44]:
# house information as list of lists
house_list = [['hallway', hall],
         ["kitchen", kit],
        ["living room", liv],
         ["bedroom", bed],
         ["bathroom",bath]]

In [45]:
# Print out house
print(house)

(('hallway', 20.25), ('kitchen', 18.0), ('living room', 20.0), ('bedroom', 10.75), ('bathroom', 9.5))

In [41]:
# Print out the type of house
type(house)

tuple

### Subsetting a List

In [46]:
x = ["a","b", "c", "d"]

In [47]:
print(len(x))# Checking the Length of List

4

In [48]:
x[2]

'c'

In [49]:
x[-2] # same result!

'c'

In [48]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [41]:
# Print out second element from areas
print(areas[-1])#0 Based Indexing

9.5

In [49]:
print(areas[9])#0 Based Indexing

9.5

In [50]:
areas[9]

9.5

In [43]:
print(len(areas))

10

In [81]:
# Print out last element from areas
print(areas[9])
print(areas[-1])

9.5
9.5

In [82]:
# Print out the area of the living room
print(areas[5])

20.0

### Subset and Calculate

After you've extracted values from a list, you can use them to perform additional calculations

In [44]:
x = ["a", "b", "c", "d"]

In [50]:
x_num = [1, 2, 3, 4]

In [51]:
x_num_1= x_num*4

In [52]:
print(x_num_1)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [54]:
print(x[0] + x[0])#In Strings'+' = Concatenation

aa

In [59]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [61]:
eat_total_area = areas[3]+areas[-3]

28.75

In [ ]:
# Print the variable eat_total_area
print(eat_total_area)

### Slicing and Dicing

Slice your list, which means selecting multiple elements from your list. Use the following syntax:
my_list[start:end]

The start index will be included, while the end index is not.

In [62]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [71]:
len(areas)

10

In [66]:
areas[6]

'bedroom'

In [75]:
# Use slicing to create upstairs
upstairs = areas[6:8]

In [73]:
print(upstairs)

[]

In [127]:
x = ["a", "b", "c", "d","e"]

In [96]:
print(upstairs)

['bedroom', 10.75, 'bathroom', 9.5]

In [128]:
x[:2]#First Two

['a', 'b']

In [87]:
x[-3:]#Second Two

['c', 'd', 'e']

In [88]:
x[:] #All

['a', 'b', 'c', 'd', 'e']

In [105]:
downstairs = areas[:6]

In [106]:
upstairs = areas[4:]

In [107]:
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

### Subsetting lists of lists

In [97]:
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]

In [98]:
x

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

In [99]:
x[2][0] = "GAN"

In [100]:
x

[['a', 'b', 'c'], ['d', 'e', 'f'], ['GAN', 'h', 'i']]

In [79]:
x[2][2]

'i'

In [101]:
x_tup = (("a", "b", "c"),
     ("d", "e", "f"),
     ("g", "h", "i"))

In [102]:
x_tup

(('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i'))

In [150]:
x_tup[2][0] ="GAN"

TypeError: 'tuple' object does not support item assignment

In [155]:
x_tup_new = [("a", "b", "c"),
     ("d", "e", "f"),
     ("g", "h", "i")]

In [156]:
x_tup_new

[('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i')]

In [157]:
type(x_tup_new)

list

In [158]:
x_tup_new[0][1]="Trump"

TypeError: 'tuple' object does not support item assignment

In [154]:
x_tup_new

(['a', 'Trump', 'c'], ('d', 'e', 'f'), ('g', 'h', 'i'))

In [237]:
y

['d', 'e', 'f', 'garage', 15.45]

### Lists Manipulation

In [146]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Correct the bathroom area to 10.50

In [113]:
areas[-1] = 10.50

In [114]:
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 10.5]

### Extend a list

In [132]:
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

In [107]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [108]:
areas_1 = areas+["poolhouse", 24.5]

In [109]:
print(areas_1)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]

In [110]:
areas_3 = ["poolhouse", 24.5]+areas

In [111]:
print(areas_3)

['poolhouse', 24.5, 'hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [5]:
areas = areas+["poolhouse", 24.5]

In [6]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]

In [4]:
print(areas_1)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]

In [123]:
areas_2 = areas_1+["garage", 15.45]

In [124]:
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

### Delete list elements

In [123]:
x = ["a", "b", "c", "d"]

In [113]:
del(x[0])
x

['b', 'c', 'd']

In [129]:
del(x[:2])

In [130]:
x

['c', 'd', 'e']

### Appending Lists

In [131]:
poolhouse=["Poolhouse",20.5]

In [133]:
areas.append(poolhouse)

In [134]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, ['Poolhouse', 20.5]]

In [135]:
areas[-1]

['Poolhouse', 20.5]

In [136]:
Kit = ["Kitchen"]

In [137]:
areas.append(Kit)

In [138]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, ['Poolhouse', 20.5], ['Kitchen']]

In [141]:
areas[11][0]

'Kitchen'

### Reversing Elements of a Lists

In [142]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, ['Poolhouse', 20.5], ['Kitchen']]

In [143]:
areas.reverse()

In [144]:
print(areas)

[['Kitchen'], ['Poolhouse', 20.5], 10.5, 'bathroom', 10.75, 'bedroom', 20.0, 'chill zone', 18.0, 'kitchen', 11.25, 'hallway']

### Inserting Elements in Lists

In [145]:
areas = ["hallway", 11.25, "kitchen","bathroom", 10.50]

In [146]:
print(areas)

['hallway', 11.25, 'kitchen', 'bathroom', 10.5]

In [147]:
areas.insert(3,10.26) #Insert an item at third position

In [148]:
print(areas)

['hallway', 11.25, 'kitchen', 10.26, 'bathroom', 10.5]